<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <div id="main">
    <div id="left">
      <div id="lnav">
        <i class="ri-arrow-left-line"></i>
        <div id="lnavr">
          <a href="/registeruser">SignUp</a>
          <a href="/loginuser">LogIn</a>
          <a href="https://www.linkedin.com/in/syed-afaan-hussain-aa125721b/"><i class="ri-linkedin-box-fill"></i></a>
        </div>
      </div>
      <div id="textcenter">
        <h1>Hello,</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis amet adipisci 
          ipsum, minima quas tenetur assumenda perspiciatis inventore illo 
          laudantium cum dolorum modi deserunt nisi! Deserunt eaque odit enim nostrum?
        </p>
        <a href="">Read</a>
      </div>
    </div>
    <div id="right">
      <div id="rtop">
        <div id="rtleft">
          <h1><strong>DESIG</strong></h1>
          <img src="./images/ret.png" alt="">
          <h2><strong>NERD</strong></h2>
        </div>
        <div id="rtright">

        </div>
      </div>
      <div id="rbottom">

      </div>
      
    </div>
  
  </div>
</body>
</html>