<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div id="main2">
    <div id="pcard">
      <div id="dp">
      </div>
      <h4><%=user.firstname %> <%=user.lastname%></h4>
      @<%=user.username%>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit accusantium harum porro 
      </p>
      <a href="/logout"><button>Logout</button></a>
    </div>
    <div class="menu">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1682687982470-8f1b0e79151a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwyMXx8fGVufDB8fHx8fA%3D%3D" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias modi debitis pariatur, officiis numquam iste. Corporis, ipsam doloremque excepturi voluptates debitis</p>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1682687220640-9d3b11ca30e5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwzMXx8fGVufDB8fHx8fA%3D%3D" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias modi debitis pariatur, officiis numquam iste. Corporis, ipsam doloremque excepturi voluptates debitis</p>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1704531815335-dab68018e8a9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2MHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias modi debitis pariatur, officiis numquam iste. Corporis, ipsam doloremque excepturi voluptates debitis</p>
      </div>
    </div>
    
  </div>
</body>
</html>