*{
  margin:0;
  padding: 0;
  font-family: "gilroy",sans-serif;
  box-sizing: border-box;
  
}
html,body{
  height: 100%;
  width: 100%;
}

#board{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(https://img.freepik.com/free-photo/modern-television-broadcasting-movie-wide-screen-generative-ai_188544-33322.jpg?w=1060&t=st=1704702967~exp=1704703567~hmac=a207578309c56a4d054b68b1f2f0fe6604a87ed0015c97578f4ea068a6696f2f);
  background-size: cover;
  background-position: center;
}
#board h1{
  display: flex;
  justify-content: center; 
  font-weight: 800;
  color:white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 60vw;
  background-color: rgb(235, 225, 225);
  
}

.container button{
  width: 19.6vw;
}
.cox{
  margin-left: 315px;
  height: 50px;
  width: 60vw;
  background-color: rgb(235, 225, 225);
}
.error{
  color: red;
  margin-top: 15px;
  margin-left: 330px;
}
#main{
  display: flex;
  width: 100%;
  height: 100%;
}
#left{
  position: relative;
  background-color: #EF9775;
  height: 100%;
  width: 40%;
}
#left #textcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#textcenter h1{
  font-size: 90px;
  font-weight: 900;
}
#textcenter p{
  opacity: .6;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#textcenter a{
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
#lnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  height:10vh;
  width: 100%;
}
#lnavr i{
  color: royalblue;
  font-size: 20px;
}
#lnavr a{
  color: black;
  margin-left: 20px;
  text-decoration: none;
  margin-right: 20px;
}
#right{
  height: 100%;
  width: 60%;
}
#rtop{
  display: flex;
  width:100%;
  height: 50%;
}
#rtleft{
  position: relative;
  height: 100%;
  width: 55%;
}
#rtright{
  height: 100%;
  width: 45%;
  background-image: url(https://images.unsplash.com/photo-1592187270271-9a4b84faa228?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#rbottom{
  background-color:rgb(133, 97, 28);
  width:100%;
  height: 50%;
  background-image: url(https://images.unsplash.com/photo-1444464666168-49d633b86797?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#rtleft img{
  height: 400px;
  position: fixed;
  z-index: -1;
}
#rtleft h1{
  position: absolute;
  font-size: 100px;
  margin-top: 40px;
  margin-left: 15px;
  z-index: -2;
  font-weight: 1000;
}
#rtleft h2{
  font-size: 100px;
  margin-left:15px ;
  margin-top: 150px;
  font-weight: 1000;
}
#main2{
  padding-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(237, 222, 222, 0.964);
}
#pcard{
  display: flex;
  padding-top: 1%;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 38vh ;
  width: 90%;
}
#dp{
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background-image: url(https://imgs.search.brave.com/JaVsdgsfPlNm9PpMOIcNoit9e-9O4DObQXBs_HciptI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2U3LzAz/LzQwL2U3MDM0MDVm/Yjg1YjA2MjQ3MTc2/MDc4NDFkZGUxMTdl/LmpwZw);
  background-size: cover;
  background-position: center;
}
#pcard h4{
  margin-top: 0.5%;
}
#pcard p{
  margin-top: 1%;
  text-align: center;
  
}
#pcard a{
  padding-top: 1.2%;
  
}
#pcard button{
  font-weight: 400;
  color: white;
  border-radius: 6%;
  height: 2.3vw;
  width: 6vw;
  background-color: red;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 55%;
}
.card{
  padding: 1%;
  margin-left: 3%;
  border-radius: 5%;
  width: 25%;
  height: 80%;
  background-color: white;
}
.card img{
  
  width: 100%;
  height: 60%;
  size: cover;
  position: center;
}
.card p{
  margin: 4%;
  text-align: left;
  line-height: 1.3vw;
}